@font-face {
  src: local('SegoePro-Black');
}

@import '~pretty-checkbox/src/pretty-checkbox.scss';


html, body, div, p, span {
  font-family: 'Roboto', sans-serif;
}


.rt-tbody{
  .rt-tr{
    height: 50px !important;
  }
}



.spinner_container{
  z-index: 155555;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  .spinner_background{
    z-index: 11;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .lds-ring {
    top:50%;
    left:50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3b945e transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}



input{
 //display: none !important;
}

li{
  position: relative;
}
li > div{
  position: absolute;
}

.navbar{
  width: 100% !important;
  height: 50px !important;
  background-color: #f2f2f2 !important;
  border-bottom: 2px solid black;
  a:hover{
    color: rgba(109,173,134, 0.95) !important;

  }
  .nav-link{
    color: #ffffff !important;
    margin-left: 20px;
    font-size: 16px;
    white-space: nowrap;
  }
  .dropdown-menu{
    background-color: #f2f2f2 !important;
    .dropdown-item:active{
      background-color: #3b945e !important;
    }
    .active{
      background-color: #3b945e !important;
    }
  }

}

.navbar-nav > a:nth-child(3) {
  margin-left: 40px;
}

.search-icon{
  background-image: url("./search.png");
  background-size: cover;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 24px;
  left: 20px;
  cursor: pointer;
}
.search-icon-products{
  background-image: url("./search.png");
  background-size: cover;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 92px;
  cursor: pointer;
  z-index: 1000;
  left: 145px;
}
.hide{
  display: none;
}

.rt-tr-group > .rt-tr div:nth-child(3){
  text-align: right;
}
.rt-tr-group > .rt-tr div:nth-child(4){
  text-align: right;
}
.rt-tr-group > .rt-tr div:nth-child(5){
  text-align: right;
}




.dropdown-toggle::after{
  position: absolute;
  top: 20px;
  right: -7px;
}

.container-table{

  ul{
    margin-right: 0 !important;
    overflow-y: auto !important;
    height: 85vh;
    scroll-snap-type: y proximity !important;
    border-top:1px solid rgba(0,0,0,0.02) !important;
  }

  /* width */
  ::-webkit-scrollbar{
    height:10px;
    width:7px;
    border-radius: 4px;
    background: transparent;
    transition: all 0.3s ease;
  }
  ::-webkit-scrollbar:hover{
    background: #c6c7ca;
  }
  ::-webkit-scrollbar-thumb{
    background:#777779;
    border-radius: 4px;
  }
  top: 45px;
  height: calc(100% - 45px);
  position: absolute;
  width: 22%;
  border: solid 1px #182628;
  input{
    padding-left: 29.04px !important;
    padding-top: 5px;
    margin-left: 15px !important;
    width: 88% !important;
    margin-top: 9px !important;
    border-bottom: solid 1px #484242 !important;
    background-color: #ffffff;
    height: 39px !important;
    padding-bottom: 12px !important;
    font-size: 14.5px !important;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  input:focus{
    outline: none;
  }
  input::placeholder{
    color: #9facb2;
    font-size: 14.3px;
  }

  ul{
    li{
      font-size: 13px;
      min-height: 22px;
      height: auto;
      line-height: 14px;
      border-bottom:1px solid rgba(0,0,0,0.02) !important;
    }
    li:hover{
      background-color: rgba(109,173,134,0.70) !important;
      color: #ffffff;
    }
    li[aria-pressed="true"]{
      background-color: rgba(109,173,134,0.85) !important;
    }
  }
}

.-pageSizeOptions{
  display: none !important;
}

.ReactTable{
  overflow-y: auto !important;
  height: calc(100vh - 50px);
  /* width */
  ::-webkit-scrollbar{
    height:10px;
    width:8px;
    border-radius: 4px;
    background: transparent;
    transition: all 0.3s ease;
  }
  ::-webkit-scrollbar:hover{
    background: #c6c7ca;
  }
  ::-webkit-scrollbar-thumb{
    background:#777779;
    border-radius: 4px;
  }
  input{
    padding-left: 35px !important;
    width: 50% !important;
  }
}

.progress-bar-class{
  width: 300px;
  height: 100px;
}

.first-col{
  flex: 520 0 auto !important;
  width: 520px !important;
  max-width: 300px !important;
}
.number{
  line-height: 51px;
  padding-left: 5px;
  width: 35px;
  font-size: 10px;
}



.my-options{
  .view-button{
    position: relative;
    top: -6px;
    left: 55%;
    margin-left: 10px;
  }
}

.modal-body{
  .view-button{
    left: 660px;
  }
  .ReactTable{
    font-size:12px;
    line-height: 36px;
    .rt-tr-group > .rt-tr div:nth-child(2){
      text-align: right;
    }
    .rt-tr-group > .rt-tr div:nth-child(3){
      text-align: left;
    }
  }
}

.navbar{
  position: fixed !important;
  width: 100%;
  z-index: 100;
  background-color: #182628 !important;
  color: #ffffff !important;
  .btn-toolbar{
    position: absolute;
    top: 80px;
    right: 20px;
  }
  //.nav-item{
  //  width: 68%;
  //  position: absolute;
  //  right: -4px !important;
  //  top: 0 !important;
  //}
}

.modal-body{
  min-height: 100px !important;
  ul{
    height: 60vh;
  }
  .modal-content {

  }
  .buttons{
    position: absolute;
    bottom: 0;
  }
}

.tab-table, .products-tab{
  width: 40%;
  font-size: 12px;
  display: inline-block;
  input{
    padding-left: 29.04px !important;
    padding-top: 5px;
    margin-left: 15px !important;
    width: 88% !important;
    margin-top: 9px !important;
    border-bottom: solid 1px #484242 !important;
    background-color: #ffffff;
    height: 39px !important;
    padding-bottom: 12px !important;
    font-size: 14.5px !important;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  input:focus{
    outline: none;
  }
  input::placeholder{
    color: #9facb2;
    font-size: 14.3px;
  }
  ul{
    border-top: none !important;
    overflow: scroll;
    li{
      min-height: 40px;
      line-height: 20px;
      border-bottom:1px solid rgba(0,0,0,0.02) !important;
    }
    li:hover{
      background-color: rgba(109,173,134,0.70) !important;
      color: #ffffff;
    }
    li[aria-pressed="true"]{
      background-color: rgba(109,173,134,0.85) !important;
    }
  }

  ::-webkit-scrollbar{
    height:10px;
    width:7px;
    border-radius: 4px;
    background: transparent;
    transition: all 0.3s ease;
  }
  ::-webkit-scrollbar:hover{
    background: #c6c7ca;
  }
  ::-webkit-scrollbar-thumb{
    background:#777779;
    border-radius: 4px;
  }
}

.search-icon-source-products{
  background-image: url("./search.png");
  background-size: cover;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 55px;
  cursor: pointer;
  z-index: 1000;
  left: 238px;
}


.products-tab{
  margin-left: 120px;
  width: 44% !important;
  input{
    margin-left: 10px !important;
  }

}

::-webkit-scrollbar{
  height:10px;
  width:7px;
  border-radius: 4px;
  background: transparent;
  transition: all 0.3s ease;
}
::-webkit-scrollbar:hover{
  background: #c6c7ca;
}
::-webkit-scrollbar-thumb{
  background:#777779;
  border-radius: 4px;
}

.add-product-button{
  position: absolute;
  top: 12px;
  right: 20px;
  transform: translateX(-50%);
  border-radius: 4px !important;
  border: solid 2px #6dad86 !important;
  background-color: #6dad86 !important;
}
.add-product-button:hover{
  color: #6dad86 !important;
  border-radius: 4px !important;
  border: solid 2px #6dad86 !important;
  background-color: #ffffff !important
}

.nav-tabs{
  .nav-item{
    font-weight: 600;
    color: #3b945e;
  }
}

.-pagination{
  background-color: #f7f7f7;
  .-btn{
    background-color: rgba(109, 173, 134, 0.85) !important;
    color: #ffffff !important;
  }
  .-btn:hover{

      border: solid 2px rgba(109, 173, 134, 0.85) !important;
      background-color: white !important;
      color: rgba(109, 173, 134, 0.85) !important;;
    }
  .-btn[disabled]{
    background-color: rgba(109, 173, 134, 0.85) !important;
    opacity: 0.5;
    color: #ffffff !important;
  }
  }

.hide{
  display: none;
}


.rt-tr{
  height: 40px;
}

  .rt-tr-group{
  cursor: pointer;
  }

  .showMe{
    width: 78%;
    position: absolute;
    right: 0;
    top: 50px;

    .source-products{
      .filter-found{

      }
    }

    .rt-th{
      background-color: white;
      input{
        display: none;
      }
    }

    .table-content{
      position: relative;
      .filter-found{
        z-index: 10;
        input{
          width: 180px;
          border: none;
          border-bottom: solid 1px #484242;
          padding-left: 30px;


          &::placeholder{
            color: #9facb2;
            font-size: 14.3px;
          }

          &:focus{
            width: 180px;
            border: none;
            outline: none;
            padding-left: 30px;
            border-bottom: solid 1px #484242;

          }

        }


        .search-icon{
          background-image: url("./search.png");
          background-size: cover;
          width: 16px;
          height: 16px;
          position: absolute;
          top: 5px;
          left: 7px;
          cursor: pointer;
        }
        position: absolute;
        top: 49px;
        left: 90px;
      }

    }

    .rt-resizable-header{
      height: 47px!important;
      line-height: 48px;
      .rt-resizable-header-content{
        margin-top: 7px;
      }
    }
    .rt-td{
      height: 40px;
      line-height: 38px;
      border-right: none !important;
      font-size: 12px;
      overflow: visible;
      align-items: center !important;
    }

    .rt-tr-group:hover{
      background-color: rgba(0, 0, 0, 0.06) !important;
    }
  }


  .move{
    position: absolute;
    top: 9px;
    z-index: 100;
    right: 15px;
  }

.form-group{
  input{
    display: block !important;
  }
}

.source-products{
  .view-button{
    position: relative;
    top: 0px;
    left: -18px;
    transform: translateX(-50%);
    border-radius: 4px !important;
    border: solid 2px #6dad86 !important;
    background-color: #6dad86 !important;
  }
  .view-button:hover{
    color: #6dad86!important;
    border-radius: 4px !important;
    border: solid 2px #6dad86 !important;
    background-color: #ffffff !important;
  }
  .view-button:focus{
    outline: 0;
  }
  .rt-tr-group > .rt-tr div:nth-child(2){
    text-align: right;
  }

  .rt-td{
    overflow: visible !important;
    align-items: center !important;
  }

}

.add-button{
  margin: -3px 34px;
  transform: translateX(-50%);
  border-radius: 4px !important;
  border: solid 2px #6dad86 !important;
  background-color: #6dad86 !important;
  vertical-align: middle !important;
}

.add-button:hover{
  color: #6dad86!important;
  border-radius: 4px !important;
  border: solid 2px #6dad86 !important;
  background-color: #ffffff !important;
}
.add-button:focus{
  outline: 0;
}

.category-part{
  height: auto;
  width: 33%;
  position: relative;
  margin-top: 56px;
  display: inline-block;
}

.header-category-part{
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.select-category{
  position: absolute;
  right: 50px;
}

.category-name{
  cursor: pointer;
}

.allsources{
  height: 85vh !important;
}

.rt-tr-new{
  background-color: green;
}

.category-part-product{
  height: auto;
  width: 30%;
  margin-left: 200px;
  position: relative;
  margin-top: 56px;
  display: inline-block;
}

.hide{
  display: none !important;
}

.view-button{
  position: relative;
  left: 25%;
  top: 0px;
  transform: translateX(-50%);
  border-radius: 4px !important;
  border: solid 2px #6dad86 !important;
  background-color: #6dad86 !important;
}

.view-button:hover{
  color: #6dad86!important;
  border-radius: 4px !important;
  border: solid 2px #6dad86 !important;
  background-color: #ffffff !important;
}
.view-button:focus{
  outline: 0;
}

.chart-div{
  height: 300px;
}

.chart-div-products{
  width: 400px;
  height: 300px;
  margin: 0 !important;
}

.remove-button{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px !important;
  border: solid 2px #850101 !important;
  background-color: #850101 !important;
}

.remove-button:hover{
  color: #850101!important;
  border-radius: 4px !important;
  border: solid 2px #850101 !important;
  background-color: #ffffff !important;
}
.remove-button:focus{
  outline: 0;
}

.add-button-detail{
  transform: translateX(-50%);
  border-radius: 4px !important;
  border: solid 2px #6dad86 !important;
  background-color: #6dad86 !important;
  position: absolute;
  right: -54px;
  top: 16px;
  outline: 0 !important;
}

.add-button-detail:hover{
  color: #6dad86!important;
  border-radius: 4px !important;
  border: solid 2px #6dad86 !important;
  background-color: #ffffff !important;
}

.source-product-detail{
  transform: translateX(-50%);
  border-radius: 4px !important;
  border: solid 2px #6dad86 !important;
  background-color: #6dad86 !important;
}

.source-product-detail:hover{
  color: #6dad86!important;
  border-radius: 4px !important;
  border: solid 2px #6dad86 !important;
  background-color: #ffffff !important;
}

.form-source-category{
  margin-top: 10px;
}

.source-category-block{
  margin-top: 10px;
  margin-left: 11px;
  color: #182628;
  .source-category-name{
    margin-top: 10px;
    font-size: 20px;
  }
  .source-category-price{
    margin-top: 10px;
  }
  .source-category-price{
    margin-top: 10px;
  }
}
.remove-modal {
  .modal-header{
    padding: 6px 7px 6px 3px !important;
  }
  .modal-body {
    .view-button {
      position: absolute;
      top: 53px;
      left: 189px;
    }
    .remove-button {
      position: absolute;
      top: 53px;
      left: 250px;
    }
  }
}

.image-url{
  width: 150px;
  height: 150px;
  display: block !important;
}

.block-source-product{
  margin-top: 20px;
  width: 33%;
  border: 1px solid #ccc !important;
  padding-bottom: 15px;
  display: inline-block;
  min-height: 355px;
  vertical-align: middle;
  width: 33.333333%;
}
.sourcecategories-block{
  width: 800px;
  margin: 50px auto;
  width: 1090px;

}

.image-div{
  width: auto;
  display: inline-block;
}
.product-details-more{
  display: inline-block;
  position: absolute;
  right: 40px;
  .product-detail-more-name{
    font-size: 20px;
  }
  .product-detail-more-description{
    font-size: 12px;
    width: 100%;
    word-wrap: break-word;
    display: inline-block;
    overflow-wrap: break-word;

  }
}
.crawl-logs-text{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 14px;
}




.image-div-small{
  margin-left: 10px;
  margin-top: 10px;
  position: relative;

  .buttons-div{
    position: absolute;
    top: 6px;
    right: -3vw;

    .btn{
      margin-right: 20px;
    }

  }
}

.categories{
  .buttons-div{
    top: 10px;
    right: 1vw;

    .btn{
      margin-left: 10px;
    }
  }
}


.button-add-category{
  position: absolute;
  top: 10px;
  right: 4vw;
}
.span-category-name{
  margin-left: 30px !important;
}

.checkbox-category-name{
  position: absolute !important;
  right: 30px;
  top: 20px;
}

.form-check-input{
  position: absolute !important;
  right: 30px !important;
  top: 20px !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.loader{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left:50%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.crawl-container{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 550px;
  margin: -100px 0 0 -275px;
  .view-button{
    position: relative;
    top: initial;
    left: 40px;
    transform: translateX(-50%);
    border-radius: 4px !important;
    border: solid 2px #6dad86 !important;
    background-color: #6dad86 !important;
  }
  .view-button:hover{
    color: #6dad86!important;
    border-radius: 4px !important;
    border: solid 2px #6dad86 !important;
    background-color: #ffffff !important;
  }

  .crawl-button{
    margin-left: 10px;
  }
  .crawl-text{
    margin-left: 10px;
  }
  .categories-count{
    margin-left: 10px;
  }
}

.product-detail-title{
  min-height: 40px;
  font-size: 20px;
  display: inline-block;
}

.product-form{
  margin-top: 20px;
  margin: 0 auto;
  width: 60%;
  height: auto;
  border: 1px solid #ccc !important;
  padding: 15px;
  padding-bottom: 70px;
  position: relative;

  .product-id-input{
    width: 100%;
    margin-bottom: 20px;
  }

  .name-input{
    width: 100%;
    margin-bottom: 20px;

  }

  .package-input{
    width: 100%;
    margin-bottom: 20px;

  }

  .weight-input{
    width: 100%;
    margin-bottom: 20px;

  }

  .unit-input{
    width: 100%;
    margin-right: 30px;
    position: relative;
    margin-bottom: 20px;

    ul{
      margin-right: initial !important;
      overflow-y: initial !important;
      height: auto !important;
      scroll-snap-type: initial !important;
      border-top: initial !important;
    }
  }

  .producer-input{
    width: 100%;
    margin-bottom: 20px;

  }

  .product-type-input{
    width: 100%;
    margin-bottom: 20px;

  }

  .description-input{
    width: 100%;
    margin-bottom: 20px;

  }

  .save-button{
    transform: translateX(-50%);
    border-radius: 4px !important;
    border: solid 2px #6dad86 !important;
    background-color: #6dad86 !important;
    position: absolute;
    right: 0;
    bottom: 20px;
  }



}

.rct-node-collapsed{
  .rct-collapse-btn{
    transform: translateX(-50%);
    border-radius: 4px !important;
    border: solid 2px #6dad86 !important;
    background-color: #6dad86 !important;
    width: 15px;
    height: 17px;
    margin-left: 10px;
    color: white;
    line-height: 10px;
    position: relative;

    &:after{
      bottom: 1.5px;
      position: absolute;
      content: "+";
      left: 1.5px;
    }

  }

  .rct-collapse-btn:hover{
      color: #6dad86!important;
      border-radius: 4px !important;
      border: solid 2px #6dad86 !important;
      background-color: #ffffff !important;
  }

  .rct-collapse-btn:focus{
    outline:none;
  }
  input{
    margin-right: 6px;
  }
}

  .view-button-crawl{
    position: relative;
    left: 370px;
    transform: translateX(-50%);
    border-radius: 4px !important;
    border: solid 2px #6dad86 !important;
    background-color: #6dad86 !important;
  }
  .view-button-crawl:hover{
    color: #6dad86!important;
    border-radius: 4px !important;
    border: solid 2px #6dad86 !important;
    background-color: #ffffff !important;
  }

.rct-node-expanded{
  .rct-collapse-btn{
    transform: translateX(-50%);
    border-radius: 4px !important;
    border: solid 2px #850101 !important;
    background-color: #850101 !important;
    width: 15px;
    height: 17px;
    margin-left: 10px;
    color: white;
    line-height: 10px;
    position: relative;
    &:after{
      content: "-";
      position: absolute;
      left: 3.5px;
      bottom: 2.5px;
    }
  }

  .rct-collapse-btn:hover{
    color: #850101!important;
    border-radius: 4px !important;
    border: solid 2px #850101 !important;
    background-color: #ffffff !important;
  }

  .rct-collapse-btn:focus{
    outline:none;
  }

  input{
    margin-right: 6px;
  }
}

.modal-body-config{
  overflow: scroll;
  height: 600px !important;
  overflow-x: hidden;
}

.pop-up-button-toolbar{
  position: relative;
  width: 400px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .view-button-crawl{
    margin-left: 5px;
    left: 0px;
    transform: none;
  }
  .crawl-categories{
    margin-top: 25px;
  }
}



.crawler-container {
  width: 100vw;
  height: 100vh;
  padding-top: 53px;

  .crawl-content {
    margin: 0 auto;
    display: block;
    width: 900px;
    position: relative;
    padding-top: 10px;


    .view-button-crawler {
      border: solid 2px #6dad86 !important;
      background-color: #6dad86 !important;

      &.start-all {
        position: absolute;
        right: 20px;
      }

      &:hover {
        color: #6dad86 !important;
        border-radius: 4px !important;
        border: solid 2px #6dad86 !important;
        background-color: #ffffff !important;
      }
    }


    .source-crawl-container {
      margin-top: 20px;
      margin-bottom: 55px;
      width: 900px;
    }

    .crawl-logs-label {
      font-weight: bold;
    }

    .crawler-table {
      height: 150px;

      .rt-tr div:nth-child(2) {
        text-align: right;
      }

      .rt-tr div:nth-child(3) {
        text-align: right;
      }


    }

    .crawl-toolbar {
      width: 100%;
      margin: 5px auto;
      display: flex;
      justify-content: flex-end;
      line-height: 38px;
      position: relative;

      .view-button-crawler-gray {
        border: solid 2px #D0D0D0 !important;
        background-color: #D0D0D0 !important;


        &:hover {
          color: #D0D0D0 !important;
          border-radius: 4px !important;
          border: solid 2px #D0D0D0 !important;
          background-color: #ffffff !important;
        }
      }
    }

    .view-button-crawler {
      margin-left: 5px;
      font-size: 13px;
    }

    .progress-bar-class {
      width: 450px;
      font-size: 10px;
      left: 0;
      position: absolute;
      top: 10px;

      .crawler-status-products {
        height: 20px;
        line-height: 20px;
      }
    }
  }
}

.view-button-crawler-gray {
  border: solid 2px #D0D0D0 !important;
  background-color: #D0D0D0 !important;
  font-size: 13px;


  &:hover {
    color: #D0D0D0 !important;
    border-radius: 4px !important;
    border: solid 2px #D0D0D0 !important;
    background-color: #ffffff !important;
  }
}


.rt-td{
  overflow: visible !important;
  align-items: center !important;
}

.favorites-column{
  text-align: center;
}


.favorites_control{
  display: inline-block !important;
  margin-left: 10px !important;
  .MuiCheckbox-colorSecondary.Mui-checked{
    color: #6dad86
  }

  .MuiFormControlLabel-label{
    font-size: 12px;
  }

}

.options-products{
  display: flex;
  justify-content: center;
  padding-top: 17px !important;
}

.add-sources{
  ul{
    overflow: scroll;
    border-top: none !important;
  }
  .add-sources-button{
    position: absolute;
    right: 30px;
    bottom: 20px;
    top: initial;
    left: initial;
  }

}

.image-url{
  display: block;
}

.favorites_control{
  margin-left: 10px;
  .MuiFormControlLabel-label{
    visibility: hidden;
  }

}


.block{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .product-detail-pic{
    width: 400px;
    height: 400px;
    display: block;
    margin-top: 84px;
  }

}









